<h2>Dashboard</h2>

<%= form_for @shout do |form| %>
  <%= form.fields_for :content do |content_form| %>
    <%= content_form.text_field :body, placeholder: 'shout here!', required: true %>
  <% end %>

  <%= form.hidden_field :content_type, value: 'TextShout' %>
  <%= form.submit 'Shout text' %>
<% end %>

<%= form_for @shout do |form| %>
  <%= form.fields_for :content do |content_form| %>
    <%= content_form.file_field :image, required: true %>
  <% end %>

  <%= form.hidden_field :content_type, value: 'PhotoShout' %>
  <%= form.submit 'Shout photo' %>
<% end %>


<%= render @shouts.order(created_at: :desc) %>
